.scrollactive-nav.show-lg-up.main-menu(class=headerHome ? 'scrollnav' : '')
  ul.main-menu
    each item in menu.starter
      |
      |
      li
        a.btn.btn-flat.anchor-link.waves-effect(
          href=headerHome ? '#'+item.name : link.starter.home+'#'+item.name
        ) #{$t.starter['header_' + item.name]}