nav.user-menu
  |
  |
  a.btn.btn-flat.waves-effect.show-sm-up(href=link.starter.login)
    | #{$t.common.login}
  |
  |
  a.btn.waves-effect.primary.show-sm-up(href=link.starter.register)
    | #{$t.common.register}
  |
  |
  span.spacer.vertical-divider.show-lg-up
  include ./settings
