include ../../paper.pug

+paper($t.common.blog_about, 'account_circle', 'commodo augue. In dictum leo nec odio euismod pretium.')
  div
    ul.collection
      li.collection-item.avatar
        |
        |
        i.circle.icon.primary.material-icons.grey.lighten-3 date_range
        |
        |
        span.use-text-medium #{$t.common.blog_born}
        |
        |
        p Jan 9, 1974
      li.collection-item.avatar
        |
        |
        i.circle.icon.primary.material-icons.grey.lighten-3 local_phone
        |
        |
        span.use-text-medium #{$t.common.blog_phone}
        |
        |
        p (+62)8765432190
      li.collection-item.avatar
        |
        |
        i.circle.icon.primary.material-icons.grey.lighten-3 location_on
        |
        |
        span.use-text-medium #{$t.common.blog_address}
        |
        |
        p Chicendo Street no.105  Block A/5A - Barcelona, Spain