.blog-style
  include ./subscribe-widget
  .py-3
  include ./profile-widget
  .py-3
  include ./post-widget
  .py-3
  include ./comment-widget
  .py-3
  include ./list-widget
  .py-3
  include ./gallery-widget
