.socmed-side-login
  |
  |
  button.btn.navi-btn.waves-effect
    i.ion-social-facebook.left
    | Facebook
  |
  |
  button.btn.blue-btn.waves-effect
    i.ion-social-twitter.left
    | Twitter
  |
  |
  button.btn.red-btn.waves-effect
    i.ion-social-google.left
    | Google
  |
  |
