.call-to-action
  .container.fixed-width-md-up
    .root
      .card.paper
        .row.align-items-center.mb-0
          .col-md-8.pa-0
            h4.use-text-title2.pb-2 #{$t.common.about_ready}
            p.use-text-subtitle2
              | Pellentesque ac bibendum tortor. Nulla eget lobortis lacus.
          .col-md-4.pa-0
            .d-flex.align-items-center.justify-content-end
              |
              |
              a.waves-effect.btn-outlined.btn-large.secondary.button(
                href=link.starter.contact
              ) #{$t.common.btn_contact}
              |
              |
