-
  var logos = [
    "/images/logos/architect.png",
    "/images/logos/cloud.png",
    "/images/logos/coin.png",
    "/images/logos/mobile.png",
    "/images/logos/profile.png",
    "/images/logos/saas.png"
  ]

.company-logo.fixed-width
  .root
    each logo, index in logos
      |
      |
      img(src=assets+logo alt="logo" + index)/
    |
    |
