//- ***
//- CONFIGURATION FOR ASSETS AND ATTRIBUTES
//- ***
//- Setup assets path, html attributes variables
//- for language or layout direction here
//- ***

//- Change your environment here to define the assets path
//- Available env: dev, prod, and node_modules
- var env = 'dev'

//- HTML attribute
- var doc_lang = 'en'
- var doc_dir = 'ltr'

//- Assets Path
- var multilang = '../../assets'
- var prod = '../assets'
- var dev = './assets'

//- Use assets path
- var assets = dev



//- ***
//- CONFIGURATION FOR UI COMPONENTS
//- ***
//- Various component typesand layouts for
//- Header, footer and floating corner
//- ***

//- UI Header
- var headerType = 'mixed' // available: mixed, basic, droplist, mega, hamburger, navscroll, search

//- UI Footer
- var footerType = 'sitemap' // available: basic, blog, contact, sitemap

//- UI Floating corner
- var cornerType = 'chat' // available: chat, nav

