.list-style.mt-12
  include ./product-widget
  .py-4
  include ./people-widget
  .py-4
  include ./news-widget
  .py-4
  include ./trending-widget
  .py-4
  include ./image-widget
  .py-4
  include ./help-widget
