.banner-basic
  .banner-wrap
    .inner
      .container
        .row.d-flex.justify-content-center.align-items-center
          .col-lg-7.col-sm-6.px-md-5.px-0
            .text
              h4.text-h4 Pellentesque habitant morbi tristique senectus 
              h5.text-h5
                | Multiple lines of text that form the lede, informing new readers quickly and efficiently about what&apos;s most interesting in this post&apos;s contents
          .col-lg-3.col-sm-6.px-5
            .img
              |
              |
              img(src=assets+'/images/starter/Illustration.png', alt='illustration')/
              |
              |
