.about-style
  .progress-wrap
    ul#progress.zero
      li
        .text-icon
          i.ion-wand
          h5.use-text-subtitle2 UI Interface Design
        .progress
          .determinate.progress-linear(style='width: 80%')
      li
        .text-icon
          i.ion-social-dribbble-outline
          h5.use-text-subtitle2 Icon Design
        .progress
          .determinate.progress-linear(style='width: 70%')
      li
        .text-icon
          i.ion-ios-world-outline
          h5.use-text-subtitle2 HTML Prototyping
        .progress
          .determinate.progress-linear(style='width: 60%')
      li
        .text-icon
          i.ion-ios-camera-outline
          h5.use-text-subtitle2 Photo Editing
        .progress
          .determinate.progress-linear(style='width: 90%')
      li
        .text-icon
          i.ion-ios-snowy
          h5.use-text-subtitle2 Graphic Illustrations
        .progress
          .determinate.progress-linear(style='width: 80%')