// #### SEARCH ####

section.search-banner
  .container.max-md
    .row.search-block.align-items-center.justify-content-center
      col-sm-12
        h2.use-text-title2.text-center
          | #{$t.common.list_title}
        h3.use-text-subtitle2.text-center
          | #{$t.common.list_subtitle}
        .search
          .input-field
            |
            |
            i.material-icons.prefix search
            |
            |
            input#search_product(type='text' placeholder=$t.common.list_search)
            |
            |