extends ../layouts/app.pug

block variables
  - var pageTitle = "Corner Chat"
  - var pageName = "corner-chat"
  - var headerHome = false

block content
 div
    #home
    include ../components/header/basic.pug
    .container-wrap.py-10.py-sm-4
      section.space-top.space-bottom
        h2.display-3.text-center.mb-4 Chat Panel
        h4.display-1.text-center Chat Panel in bottom corner page
    section.space-top
      include ../components/footer/sitemap.pug
    |
    |
    include ../components/chat.pug