extends ../layouts/app.pug

block variables
  - var pageTitle = "Footer Basic"
  - var pageName = "footer-basic"
  - var headerHome = false

block content
 div
    #home
    include ../components/header/basic.pug
    .container-wrap.py-10.py-sm-4
      section.space-top.space-bottom
        h2.display-3.text-center.mb-4 Footer Basic
        h4.display-1.text-center Basic footer with several links and some social media links
    section.space-top
      include ../components/footer/basic.pug