extends ../layouts/app.pug

block variables
  - var pageTitle = "Header Navscroll"
  - var pageName = "header-navscroll"
  - var headerHome = false

block content
 div
    #home
    include ../components/header/nav-scroll.pug
    .container-wrap.py-10.py-sm-4
      section.space-top.space-bottom
        h2.display-3.text-center.mb-4 Header Navscroll
        h4.display-1.text-center Header with single navigation to scroll between section. Suitable for single page navigation
    section.space-top
      include ../components/footer/sitemap.pug
