include sample-page.pug

-
  var grandChild = [
    {
      name: 'Vivamus Condimentum',
      link: '#'
    },
    {
      name: 'Lorem',
      link: '#'
    },
    {
      name: 'Eu Rhoncus Odio',
      link: '#'
    },
    {
      name: 'Praesent Tristique',
      link: '#'
    }
  ]



  var mega = [
    {
      id: 'first_menu',
      name: 'First Menu',
      child: [
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.photo[0],
          child: grandChild
        },
        {
          name: 'In Lorem',
          thumb: imgAPI.photo[1],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.photo[2],
          child: grandChild
        },
        {
          name: 'Praesent Tristique',
          thumb: imgAPI.photo[3],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.photo[4],
          child: grandChild
        },
        {
          name: 'In Lorem',
          thumb: imgAPI.photo[5],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.photo[6],
          child: grandChild
        },
        {
          name: 'Praesent Tristique',
          thumb: imgAPI.photo[7],
          child: grandChild
        }
      ]
    },
    {
      id: 'second_menu',
      name: 'Second Menu',
      child: [
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.photo[8],
          child: grandChild
        },
        {
          name: 'In Lorem',
          thumb: imgAPI.photo[9],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.photo[10],
          child: grandChild
        },
        {
          name: 'Praesent Tristique',
          thumb: imgAPI.photo[0],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.photo[1],
          child: grandChild
        },
        {
          name: 'In Lorem',
          thumb: imgAPI.photo[2],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.photo[3],
          child: grandChild
        },
        {
          name: 'Praesent Tristique',
          thumb: imgAPI.photo[4],
          child: grandChild
        }
      ]
    },
    {
      id: 'third_menu',
      name: 'Third Menu',
      child: [
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.photo[5],
          child: grandChild
        },
        {
          name: 'In Lorem',
          thumb: imgAPI.photo[6],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.photo[7],
          child: grandChild
        },
        {
          name: 'Praesent Tristique',
          thumb: imgAPI.photo[8],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.photo[9],
          child: grandChild
        },
        {
          name: 'In Lorem',
          thumb: imgAPI.photo[10],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.photo[0],
          child: grandChild
        },
        {
          name: 'Praesent Tristique',
          thumb: imgAPI.photo[1],
          child: grandChild
        }
      ]
    },
    {
      id: 'fourth_menu',
      name: 'Fourth Menu',
      child: [
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.photo[0],
          child: grandChild
        },
        {
          name: 'In Lorem',
          thumb: imgAPI.photo[1],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.photo[2],
          child: grandChild
        },
        {
          name: 'Praesent Tristique',
          thumb: imgAPI.photo[3],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.photo[4],
          child: grandChild
        },
        {
          name: 'In Lorem',
          thumb: imgAPI.photo[5],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.photo[6],
          child: grandChild
        },
        {
          name: 'Praesent Tristique',
          thumb: imgAPI.photo[7],
          child: grandChild
        }
      ]
    },
    {
      id: 'sample_pages',
      name: 'Sample Pages',
      child: sample
    }
  ]
