case headerType
  when 'droplist'
    include ./droplist
  when 'mega'
    include ./mega
  when 'navscroll'
    include ./nav-scroll
  when 'mixed'
    include ./mixed
  when 'search'
    include ./search
  when 'blog'
    include ./blog-header
  when 'hamburger'
    include ./hamburger
  default
    include ./basic
