.list-style
  .row.justify-content-center
    .col-lg-10.col-md-12.py-6.px-md-6.px-0
      .row
        .col-sm-8.px-sm-4.px-0
          h4.use-text-subtitle.mb-3
            | #{$t.common.list_desc}
          p
            | Vestibulum faucibus eget erat eget pretium. Donec commodo convallis eget suscipit orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          p
            | Pellentesque ullamcorper aliquet ultrices. Aenean facilisis vitae purus facilisis semper. Nam vitae scelerisque lorem, quis tempus libero. Proin varius, tortor faucibus tempor pharetra, nunc mi consectetur enim, nec posuere ante magna vitae quam.
          .btn-area
            |
            |
            a.btn-flat.text-btn
              i.ion-android-share-alt
              | Share
            |
            |
            a.btn-flat.text-btn
              i.ion-film-marker
              | Trivia
            |
            |
            a.btn-flat.text-btn
              i.ion-ios-star
              | Rate this
            |
            |
        .col-sm-4.px-sm-4.px-0
          .person
            h6.caption.use-text-bold
              | Property 1
            p Item 1, Item 2, Item 3, Item 4, Item 5
            h6.caption.use-text-bold
              | Property 2
            p Item 1, Item 2, Item 3, Item 4, Item 5
            h6.caption.use-text-bold
              | Property 3
            p Item 1, Item 2, Item 3, Item 4, Item 5
