.subscribe-style {
  max-width: 640px;
  margin: 0 auto $spacing4;
  position: relative;
  .form {
    margin-top: $spacing4
  }
  .paper {
    width: 100%;
    padding: spacing(2, 3);
    @include breakpoints-down(xs) {
      padding: $spacing2
    }
  }
  .text-field {
    top: $spacing2;
    position: relative;
  }
  .right-icon {
    @include margin-left($spacing1)
  }
}
