.blog-style
  .card.blog-headline
    .card-image
      |
      |
      .responsive-img.waves-effect.white--text.align-end(style='background-image: url(https://source.unsplash.com/random)')
      |
      |
      .card-title
        |
        |
        a.anchor-content(href='#!')
          |
          |
          span.headline-title.use-text-title2
            | Pellentesque habitant morbi tristique senectus 
          |
          |
          span.text-h6.use-text-subtitle2
            | Multiple lines of text that form the lede, informing new readers quickly and efficiently about what&apos;s most interesting in this post&apos;s contents.
          |
          |
        |
        |
