.comments-style
  .collection.helper
    |
    |
    a.collection-item.waves-effect(href='#!')
      |
      |
      i.icon.primary.left.material-icons info
      span.help-item #{$t.common.list_report}
      |
      |
    |
    |
    a.collection-item.waves-effect(href='#!')
      |
      |
      i.icon.primary.left.material-icons help
      span.help-item #{$t.common.list_report}
      |
      |
    |
    |
    a.collection-item.waves-effect(href='#!')
      |
      |
      i.icon.primary.left.material-icons radio_button_checked
      span.help-item #{$t.common.list_opt} 1
      |
      |
    |
    |
    a.collection-item.waves-effect(href='#!')
      |
      |
      i.icon.primary.left.material-icons check_circle
      span.help-item #{$t.common.list_opt} 2
      |
      |
    |
    |
