extends ../layouts/app.pug

block variables
  - var pageTitle = " Not Found"
  - var pageName = "error"
  - var headerHome = false

block content
  #not-found-page
    include ../components/header/main.pug
    include ../components/error.pug
    +error("404", $t.common["404"])
    include ../components/footer/main.pug