extends ../layouts/app.pug

block variables
  - var pageTitle = " Home Page"
  - var pageName = "home"
  - var headerHome = true

block content
  div#home
    .main-wrap
      include ../components/header/main.pug
      main.container-wrap
        section#banner
          include ../components/banner-slider.pug
        section#feature.space-top.space-bottom
          .container
            include ../components/feature/feature.pug
        section
          include ../components/counter.pug
          +counter(true)
        section#testimonials.space-top
          include ../components/testimonials.pug
        section#pricing.space-top
          include ../components/pricing.pug
        section#blog.space-top.space-bottom
          include ../components/blog/blog.pug
        section#subscribe
          include ../components/subscribe-form.pug
      .hidden-md-down
        include ../components/notifications.pug
      .hidden-md-down
        include ../components/corner.pug
      include ../components/footer/main.pug